<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="yuyu">
    <meta name="description" content="倉庫">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Title undefined" />
    <meta name="twitter:description" content="倉庫">
    <meta name="twitter:image" content="https://yuyu106.github.io/TitleUndefined/image/top.jpg">

    <link rel="shortcut icon" href="image/usa.ico" type="image/x-icon">
    <title>Title undefined</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <header>         
            <nav>
                <!-- router-linkによるナビゲーション定義-->
                <div class="title"><router-link to="/top">Title Undefined</router-link></div>
                <a href="https://twitter.com/yuyu_106" target="_blank"><i class="fa-solid fa-comment"></i></a>       
            </nav>
            <span class="race-top"></span>          
        </header> 
        <router-view></router-view>    
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.0.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- コンポーネントのテンプレート定義 -->
    <!--トップページ-->
    <script type="text/x-template" id="top">
        <div class="main">
            <transition name="fade">
            <div class="loading" v-if="loading">
                <div class="loader_wrappar"><div class="loader-left"></div></div>
                <div class="loader_wrappar"><div class="loader-center"></div></div>
                <div class="loader_wrappar"><div class="loader-right"></div></div>
            </div>
            </transition>
            <transition name="fade">
            <div class="main-content" v-if="displaying">
                <div class="main-content-inner">
                    <div class="welcome-message">
                        <p>❤︎ Thank you for visiting ❤︎</p>
                    </div>
                    <nav><div class="top-menu">
                        <div class="top-menu-category">
                            <h3>Illustration</h3>
                            <router-link :to="{name: 'works', params: {category1: 'illustration', category2: 'all'}}"><h4><span>All</span></h4></router-link>
                            <router-link :to="{name: 'works', params: {category1: 'illustration', category2: 'beast'}}"><h4><i class="fa-solid fa-paw"></i> <span>BEA*TR*IL</span> <i class="fa-solid fa-paw"></i></h4></router-link>
                            <router-link :to="{name: 'works', params: {category1: 'illustration', category2: 'dns'}}"><h4><span>#dans*i</span></h4></router-link>
                            <router-link :to="{name: 'works', params: {category1: 'illustration', category2: 'dny'}}"><h4><i class="fa-brands fa-fort-awesome"></i> <span>Disn*y</span> <i class="fa-solid fa-volcano"></i></h4></router-link>
                            <router-link :to="{name: 'works', params: {category1: 'illustration', category2: 'original'}}"><h4><span>Original</span></h4></router-link>
                        </div>
                        <!-- <div class="top-menu-category">
                            <h3>Photo</h3>
                            <router-link :to="{name: 'works', params: {category1: 'photo', category2: 'all'}}"><h4><span>All</span></h4></router-link>
                        </div> -->
                        <div class="top-menu-category">
                            <router-link to="/users"><h3>About</h3></router-link>
                            <router-link to="/top"><h4><span>Profile</span></h4></router-link>
                            <router-link to="/user/info"><h4><span>History</span></h4></router-link>
                            <router-link to="/top"><h4><span>Other</span></h4></router-link>
                            <h4>
                                <a href="https://twitter.com/yuyu_106" target="_blank"><i class="fa-brands fa-twitter top-menu-twitter"></i></a>
                                <a href="https://twitter.com/yuzuDns" target="_blank"><i class="fa-brands fa-twitter top-menu-twitter"></i></a>
                            </h4>
                        </div>
                    </div></nav>
                </div>
            </div>
            </transition>
            <!--div class="error" v-if="error">{{error}}</div>
            <div class="messages main-content" id="messages">
                <div class="messages-inner main-content-inner">
                    <transition-group tag="div" class="list"
                    @before-enter="beforeEnter"
                    @after-enter="afterEnter"
                    @enter-cancelled="afterEnter">
                        <div v-for="(msg, index) in messages" :key="msg.id" class="message"　:class="checkMyMessage(msg.userId)" :data-index="index">
                            <router-link :to="{name: 'user', params: {userId: msg.userId}}">
                                <div :style='iconBackground(msg.userId)' class="icon-wrappar">
                                    <div :class='iconColor(msg.userId)' class="icon"></div>
                                </div>
                            </router-link>                      
                            <p v-if="!msg.isImage" class="baloon">{{msg.message}}</p>
                            <p v-if="msg.isImage" class="baloon baloon-img"><img  :src="msg.message" class="uploaded-img"　@click="openModal(msg.message)"></p>
                            <div class="delete-message" v-if="msg.id > 5" @click="deleteMessage(msg.id)"><p></p></div>
                        </div>
                    </transition-group>
                </div>
            </div>

            <div class="input-message-area">
                <span class="race"></span>
                    <div class="input-message">
                        <div class="input-message-inner">
                            <div class="upload">
                                <label for="file-button" class="file-button-label"></label>
                                <input ref="file" id="file-button" type="file" @change="upload" />
                            </div>
                            <div class="text">
                                <textarea　id="textarea" v-model="message.message" 
                                @keydown.enter.exact="keyEnter"  
                                @keydown.enter.shift="keyEnterShift"
                                @compositionstart="composing=true"
                                @compositionend="composing=false"></textarea>
                            </div>
                            <div v-if="error" class="error">
                                {{error}}
                            </div>
                            <div　class="messsage-button">
                                <input type="button" @click="createMessage" value="send"　class="btn btn-malformation btn-malformation--pastel">
                            </div>
                        </div>
                </div>
            </div>

            <div class="p-modal" :class="{'is-open': isModalActive}" @click="closeModal">
                <div class="modal">
                    <img  :src="modalImg">
                </div>
            </div-->

        </div>
    </script>
    <!--画像表示ページ-->
    <script type="text/x-template" id="images">
        <div class="main">
            <transition name="fade"><div class="loading" v-if="loading">
                <div class="loader_wrappar"><div class="loader-left"></div></div>
                <div class="loader_wrappar"><div class="loader-center"></div></div>
                <div class="loader_wrappar"><div class="loader-right"></div></div>
            </div></transition>
            <transition name="fade"><div class="user-list main-content" v-if="displaying">
                <div>
                    <div class="category">
                        <div class="category-arrow"><div><i class="fa-solid fa-caret-down"></i></div></div>
                        <input id="category-checkbox" class="category-checkbox" type="checkbox" v-model="checked">
                        <label class="selected-category" for="category-checkbox">
                            <transition name="fade"><div v-if="selectedCategory2">{{selectedCategory2}}</div></transition>
                        </label>
                        <ul class="category-list">
                            <li v-for="category in categoryList" class="category-list-item">
                                <router-link :to="{name: 'works', params: {category1: category.urlParams1, category2: category.urlParams2}}"><span>{{category.name}}</span></router-link>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-and-illust">
                        <div class="category-menu">
                            <h3 class="category-menu-title">{{selectedCategory1}}</h3>
                            <ul class="category-menu-list">
                                <li v-for="category in categoryList" class="category-menu-item">
                                    <router-link :to="{name: 'works', params: {category1: category.urlParams1, category2: category.urlParams2}}"><span>{{category.name}}</span></router-link>
                                </li>
                            </ul>
                        </div>
                        <transition-group name="fade"  tag="ul" class="illustration-list">
                            <li v-for="image in imageList" :style="{backgroundImage: 'url(' + image.thumbnail + ')'}" :key="image.idx" class="illustration-item" @click="openModal(image)"></li>
                        </transition-group>
                    </div>
                </div>
            </div></transition>
            <transition name="fade"><div class='modal' v-if="isModalActive">
                <div class="modal-inner">
                    <transition name="fade"><div class="close-modal" @click="closeModal()" v-if="isShownDescription"><i class="fa-solid fa-xmark"></i></div></transition>
                    <div class="image-wrapper">
                        <img :src="modalInfo.path" @click="toggleDescription()">
                        <!-- <img src="/image/illustration/beast/20220430.jpg"> -->
                        <transition name="fade"><div class="image-description" v-if="isShownDescription">
                            <div class="tag_day">
                                <div class="tag">{{modalInfo.category2}}</div>
                                <div class="day">{{modalInfo.day}}</div>
                            </div>
                            <div class="description">
                                {{modalInfo.detail}}
                            </div>
                        </div></transition>
                    </div>
                </div>
            </div></transition>
        </div>
    </script>
    <!--ユーザー一覧ページ-->
    <script type="text/x-template" id="user-list">
        <div class="main">
            <div class="loading" v-if="loading">
                <div class="loader_wrappar"><div class="loader-left"></div></div>
                <div class="loader_wrappar"><div class="loader-center"></div></div>
                <div class="loader_wrappar"><div class="loader-right"></div></div>
            </div>
            <div class="error" v-if="error">{{error}}</div>
            <div class="user-list main-content">
                <div class="main-content-inner" id="user-list-inner">
                    <transition-group tag="div" class="list"
                    @before-enter="beforeEnter"
                    @after-enter="afterEnter"
                    @enter-cancelled="afterEnter">
                        <div v-for="(user, index) in users" :key="user.id" class="user" id="user-list-user" :data-index="index">
                            <router-link :to="{name: 'user', params: {userId: user.id}}"　class="user-name-icon">
                                <div :style='iconBackground(user.id)' class="icon-wrappar">
                                    <div :class='iconColor(user.id)' class="icon"></div>
                                </div>  
                                <h2 class="user-name">{{user.name}}</h2>
                            </router-link> 
                        </div>
                    </transition-group>
                </div>
            </div>
        </div>
    </script>
    <!--ユーザー詳細ページ-->
    <script type="text/x-template" id="user-detail">
        <div class="main">
            <div class="loading" v-if="loading">
                <div class="loader_wrappar"><div class="loader-left"></div></div>
                <div class="loader_wrappar"><div class="loader-center"></div></div>
                <div class="loader_wrappar"><div class="loader-right"></div></div>
            </div>
            <div class="error" v-if="error">{{error}}</div>
            <div class="main-content">
                <div class="main-content-inner">
                    <div v-if="user" class="user" id="user-detail-delay">
                        <div class="user-name-icon">
                            <div :style='iconBackground(user.id)' class="icon-wrappar" id="user-detail-icon">
                                <div :class='iconColor(user.id)' class="icon"></div>
                            </div>
                            <h2 class="user-name" id="user-detail-name">{{user.name}}</h2>
                        </div>
                        <p class="user-detail-detail">{{user.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!--ユーザー情報ぺージ-->
    <script type="text/x-template" id="user-info">
        <div class="main">
            <div class="loading" v-if="loading">
                <div class="loader_wrappar"><div class="loader-left"></div></div>
                <div class="loader_wrappar"><div class="loader-center"></div></div>
                <div class="loader_wrappar"><div class="loader-right"></div></div>
            </div>
            <div class="main-content">
                <div class="main-content-inner">
                    <div>
                        <div v-if="user && users" class="user user-info-delay">
                            <div class="user-name-icon">
                                <div :style='iconBackground(user.id)' class="icon-wrappar" id="user-detail-icon">
                                    <div :class='iconColor(user.id)' class="icon"></div>
                                </div>
                                <h2 class="user-name" id="user-detail-name">
                                    <input type="text" @blur="setName" v-model="user.name">
                                </h2>
                            </div>
                            <div class="selectIconBackground">
                                <div v-for="(iconBackground, index) in iconBackgrounds" class="background">
                                    <div :style='iconBackground.color' class="icon-wrappar" @click="changeIconbackground(iconBackground.id)"></div> 
                                </div>
                            </div>
                            <p class="user-detail-detail">
                                <textarea　@blur="setDescription" v-model="user.description"></textarea>
                            </p>
                        </div>
                        <div v-if="users" class="user-info-users user-info-delay">
                            <p class="account"> Account </p>
                            <div v-for="(user, index) in users" class="user" id="user-info-user">
                                <div :style='iconBackground(user.id)' class="icon-wrappar"　　@click="changeUser(user.id)">
                                    <div :class='iconColor(user.id)' class="icon"></div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="module" src="./script/imageUtil.js"></script>
    <script src="./script/myjs.js"></script>
</body>
</html>